{% extends "layout.jinja2" %}
{% block content %}
    <div class="container pt-4 pb-4 mt-4" style="text-align: center; max-width: 600px; background: #f8f8f8">
        <h3>You were logged out.</h3>
    </div>
{% endblock %}